{
    "plugins": [
        "n",
        "jsdoc",
        "lodash",
        "security",
        "@stylistic/js"
    ],
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "globals": {},
    "settings": {
        "lodash": {
            "pragma": "_"
        }
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        // Possible Errors
        "for-direction": "error",
        "default-param-last": "error",
        "getter-return": "error",
        "no-async-promise-executor": "error",
        "no-await-in-loop": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-console": ["error", {
            "allow": ["info", "warn", "error"]
        }],
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-constructor-return": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-else-if": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": "error",
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-func-assign": "error",
        "no-import-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-loss-of-precision": "error",
        "no-misleading-character-class": "error",
        "no-obj-calls": "error",
        "no-prototype-builtins": "error",
        "no-regex-spaces": "error",
        "no-sparse-arrays": "error",
        "no-template-curly-in-string": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unsafe-finally": "error",
        "no-unsafe-negation": "error",
        "prefer-regex-literals": "error",
        "require-atomic-updates": "error",
        "require-unicode-regexp": "off",
        "use-isnan": "error",
        "valid-typeof": "error",

        // Best Practices
        "accessor-pairs": "error",
        "array-callback-return": "off",
        "block-scoped-var": "error",
        "class-methods-use-this": "error",
        "complexity": "off",
        "consistent-return": "off",
        "curly": "error",
        "default-case": "error",
        "default-case-last": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "grouped-accessor-pairs": "warn",
        "guard-for-in": "warn",
        "id-denylist": "warn",
        "logical-assignment-operators": "off",
        "max-classes-per-file": ["error", 1],
        "max-lines-per-function": "off",
        "no-alert": "error",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-constant-binary-expression": "error",
        "no-div-regex": "error",
        "no-else-return": "error",
        "no-empty-function": "error",
        "no-empty-pattern": "error",
        "no-empty-static-block": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-fallthrough": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": "off",
        "no-multi-str": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-nonoctal-decimal-escape": "error",
        "no-octal": "error",
        "no-octal-escape": "error",
        "no-param-reassign": "off",
        "no-promise-executor-return": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-restricted-exports": "error",
        "no-restricted-properties": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-setter-return": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unreachable-loop": "error",
        "no-unsafe-optional-chaining": "error",
        "no-unused-expressions": "off",
        "no-unused-labels": "error",
        "no-unused-private-class-members": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-backreference": "error",
        "no-useless-escape": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-warning-comments": "off",
        "no-with": "error",
        "prefer-named-capture-group": "off",
        "prefer-exponentiation-operator": "warn",
        "prefer-object-has-own": "error",
        "prefer-object-spread": "error",
        "prefer-promise-reject-errors": "error",
        "radix": "error",
        "require-await": "error",
        "vars-on-top": "off",
        "yoda": "error",

        // Strict Mode
        "strict": "off",

        // Variables
        "init-declarations": "off",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-restricted-globals": "error",
        "no-shadow": "off",
        "no-shadow-restricted-names": "error",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-undefined": "off",
        "no-unused-vars": "error",
        "no-use-before-define": "error",

        // Node.js and CommonJS
        "n/callback-return": "error",
        "n/global-require": "off",
        "n/handle-callback-err": "error",
        "n/no-mixed-requires": "off",
        "n/no-new-require": "off",
        "n/no-path-concat": "error",
        "n/no-process-env": "error",
        "n/no-process-exit": "off",
        "n/no-sync": "off",

        // ECMAScript 6
        "arrow-body-style": ["error", "always"],
        "constructor-super": "error",
        "no-class-assign": "error",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-new-native-nonconstructor": "error",
        "no-new-symbol": "error",
        "no-restricted-imports": "error",
        "no-this-before-super": "error",
        "no-useless-catch": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "off",
        "object-shorthand": ["error", "consistent-as-needed"],
        "prefer-arrow-callback": "off",
        "prefer-const": "off",
        "prefer-destructuring": "off",
        "prefer-numeric-literals": "off",
        "prefer-rest-params": "off",
        "prefer-spread": "error",
        "prefer-template": "off",
        "require-yield": "error",
        "sort-imports": "off",
        "symbol-description": "off",

        // Stylistic Issues
        "@stylistic/js/array-bracket-newline": "off",
        "@stylistic/js/array-bracket-spacing": "error",
        "@stylistic/js/array-element-newline": "off",
        "@stylistic/js/arrow-parens": ["error", "always"],
        "@stylistic/js/arrow-spacing": "error",
        "@stylistic/js/block-spacing": "error",
        "@stylistic/js/brace-style": ["error", "stroustrup", {
            "allowSingleLine": true
        }],
        "@stylistic/js/comma-dangle": ["error", "never"],
        "@stylistic/js/comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "@stylistic/js/comma-style": ["error", "last"],
        "@stylistic/js/computed-property-spacing": "error",
        "@stylistic/js/dot-location": ["error", "property"],
        "@stylistic/js/eol-last": "error",
        "@stylistic/js/func-call-spacing": "error",
        "@stylistic/js/function-call-argument-newline": "off",
        "@stylistic/js/function-paren-newline": ["error", "never"],
        "@stylistic/js/generator-star-spacing": "error",
        "@stylistic/js/implicit-arrow-linebreak": ["error", "beside"],
        "@stylistic/js/indent": ["error", 4, {
            "VariableDeclarator": {
                "var": 1,
                "let": 1,
                "const": 1
            },
            "SwitchCase": 1
        }],
        "@stylistic/js/jsx-quotes": ["error", "prefer-single"],
        "@stylistic/js/key-spacing": "error",
        "@stylistic/js/keyword-spacing": "error",
        "@stylistic/js/linebreak-style": ["error", "unix"],
        "@stylistic/js/lines-around-comment": ["error", {
            "beforeBlockComment": true,
            "afterBlockComment": false,
            "beforeLineComment": false,
            "afterLineComment": false,
            "allowBlockStart": true,
            "allowBlockEnd": false,
            "allowObjectStart": true,
            "allowObjectEnd": false,
            "allowArrayStart": true,
            "allowArrayEnd": false
        }],
        "@stylistic/js/lines-between-class-members": ["error", "always", {
            "exceptAfterSingleLine": true
        }],
        "@stylistic/js/max-len": ["error", {
            "code": 120
        }],
        "@stylistic/js/max-statements-per-line": ["error", {
            "max": 2
        }],
        "@stylistic/js/multiline-ternary": "off",
        "@stylistic/js/new-parens": "error",
        "@stylistic/js/newline-per-chained-call": ["error", {
            "ignoreChainWithDepth": 4
        }],
        "@stylistic/js/no-confusing-arrow": "error",
        "@stylistic/js/no-extra-parens": "off",
        "@stylistic/js/no-extra-semi": "error",
        "@stylistic/js/no-floating-decimal": "error",
        "@stylistic/js/no-mixed-operators": "off",
        "@stylistic/js/no-mixed-spaces-and-tabs": "error",
        "@stylistic/js/no-multi-spaces": "error",
        "@stylistic/js/no-multiple-empty-lines": "error",
        "@stylistic/js/no-tabs": "error",
        "@stylistic/js/no-trailing-spaces": "error",
        "@stylistic/js/no-whitespace-before-property": "error",
        "@stylistic/js/nonblock-statement-body-position": "error",
        "@stylistic/js/object-curly-newline": "off",
        "@stylistic/js/object-curly-spacing": ["error", "always"],
        "@stylistic/js/object-property-newline": "off",
        "@stylistic/js/one-var-declaration-per-line": "error",
        "@stylistic/js/operator-linebreak": ["error", "after"],
        "@stylistic/js/padded-blocks": ["error", "never"],
        "@stylistic/js/padding-line-between-statements": ["error",
            {
                "blankLine": "always",
                "prev": "*",
                "next": "return"
            },
            {
                "blankLine": "always",
                "prev": ["const", "let", "var"],
                "next": "*"
            },
            {
                "blankLine": "any",
                "prev": ["const", "let", "var"],
                "next": ["const", "let", "var"]
            }
        ],
        "@stylistic/js/quote-props": ["error", "as-needed"],
        "@stylistic/js/quotes": ["error", "single"],
        "@stylistic/js/rest-spread-spacing": "error",
        "@stylistic/js/semi": "error",
        "@stylistic/js/semi-spacing": "error",
        "@stylistic/js/semi-style": ["error", "last"],
        "@stylistic/js/space-before-blocks": "error",
        "@stylistic/js/space-before-function-paren": "error",
        "@stylistic/js/space-in-parens": "error",
        "@stylistic/js/space-infix-ops": "error",
        "@stylistic/js/space-unary-ops": "error",
        "@stylistic/js/spaced-comment": ["error", "always", {
            "block": {
                "exceptions": ["!"]
            }
        }],
        "@stylistic/js/switch-colon-spacing": "error",
        "@stylistic/js/template-curly-spacing": "error",
        "@stylistic/js/template-tag-spacing": "error",
        "@stylistic/js/wrap-iife": "error",
        "@stylistic/js/wrap-regex": "error",
        "@stylistic/js/yield-star-spacing": "error",
        "camelcase": "off",
        "capitalized-comments": "off",
        "consistent-this": "off",
        "func-name-matching": "error",
        "func-names": "off",
        "func-style": "off",
        "id-length": "off",
        "id-match": "error",
        "line-comment-position": "off",
        "max-depth": "error",
        "max-lines": "off",
        "max-nested-callbacks": "error",
        "max-params": "off",
        "max-statements": "off",
        "multiline-comment-style": "off",
        "new-cap": "off",
        "no-array-constructor": "error",
        "no-bitwise": "off",
        "no-continue": "off",
        "no-inline-comments": "off",
        "no-lonely-if": "error",
        "no-multi-assign": "off",
        "no-negated-condition": "off",
        "no-nested-ternary": "off",
        "no-object-constructor": "error",
        "no-plusplus": "off",
        "no-restricted-syntax": "error",
        "no-ternary": "off",
        "no-underscore-dangle": "off",
        "no-unneeded-ternary": "error",
        "one-var": ["error", "always"],
        "operator-assignment": "error",
        "sort-keys": "off",
        "sort-vars": "off",
        "unicode-bom": "error",

        // Lodash
        "lodash/callback-binding": "error",
        "lodash/collection-method-value": "warn",
        "lodash/collection-return": "error",
        "lodash/no-double-unwrap": "error",
        "lodash/no-extra-args": "error",
        "lodash/no-unbound-this": "error",
        "lodash/unwrap": "error",

        "lodash/chain-style": ["error", "as-needed"],
        "lodash/chaining": ["error", "always", 3],
        "lodash/consistent-compose": ["error", "flow"],
        "lodash/identity-shorthand": ["error", "always"],
        "lodash/import-scope": "off",
        "lodash/matches-prop-shorthand": ["error", "always"],
        "lodash/matches-shorthand": ["error", "always", 3],
        "lodash/no-commit": "error",
        "lodash/path-style": ["error", "as-needed"],
        "lodash/prefer-compact": "error",
        "lodash/prefer-filter": ["off", 3],
        "lodash/prefer-flat-map": "error",
        "lodash/prefer-invoke-map": "error",
        "lodash/prefer-map": "error",
        "lodash/prefer-reject": ["error", 3],
        "lodash/prefer-thru": "error",
        "lodash/prefer-wrapper-method": "error",
        "lodash/preferred-alias": "error",
        "lodash/prop-shorthand": ["error", "always"],

        "lodash/prefer-constant": "off",
        "lodash/prefer-get": ["warn", 4],
        "lodash/prefer-includes": ["error", {
            "includeNative": true
        }],
        "lodash/prefer-is-nil": "error",
        "lodash/prefer-lodash-chain": "error",
        "lodash/prefer-lodash-method": "off",
        "lodash/prefer-lodash-typecheck": "off",
        "lodash/prefer-matches": ["off", 3],
        "lodash/prefer-noop": "off",
        "lodash/prefer-over-quantifier": "warn",
        "lodash/prefer-some": "off",
        "lodash/prefer-startswith": "off",
        "lodash/prefer-times": "off",

        // JsDoc
        "jsdoc/check-param-names": "error",
        "jsdoc/check-tag-names": "off",
        "jsdoc/check-types": "off",
        "jsdoc/require-description-complete-sentence": "off",
        "jsdoc/require-example": "off",
        "jsdoc/require-hyphen-before-param-description": "off",
        "jsdoc/require-param": "error",
        "jsdoc/require-param-description": "error",
        "jsdoc/require-param-type": "error",
        "jsdoc/require-returns-description": "off",
        "jsdoc/require-returns-type": "error",

        // Security
        "security/detect-unsafe-regex": "error",
        "security/detect-buffer-noassert": "error",
        "security/detect-child-process": "error",
        "security/detect-disable-mustache-escape": "error",
        "security/detect-eval-with-expression": "error",
        "security/detect-no-csrf-before-method-override": "error",
        "security/detect-non-literal-fs-filename": "off",
        "security/detect-non-literal-regexp": "error",
        "security/detect-non-literal-require": "off",
        "security/detect-object-injection": "off",
        "security/detect-possible-timing-attacks": "error",
        "security/detect-pseudoRandomBytes": "error"
    }
}
