node_modules/
docs/*
.idea/*
./*.postman_collection
./*.globals
.project


#Visual Studio Code specific files
.vscode/*
jsconfig.json

#ctags
tags
src/tags
tests/tags

#Custom files - to prevent inclusion in npm package
.DS_Store
npm-debug.log*
