node_modules/
docs/*
.idea/*
./*.postman_collection
./*.globals


#Visual Studio Code specific files
.vscode/*
jsconfig.json

#ctags
tags
src/tags
tests/tags

#Custom files - to prevent inclusion in npm package
.DS_Store
Angelist%20API.json.postman_collection
Backup.postman_dump
Backup2
authPost.postman_collection
baHelper.postman_collection
c1.json.postman_collection
c2.json
c3.json.postman_collection
cstat.json.postman_collection
data/
dauth.json.postman_collection
e.postman_environment
fileTest.postman_collection
globals.postman_globals
h.html
headerTest.json.postman_collection
helper.postman_collection
ht.html
jqTest.json.postman_collection
junit.xml
nmRegex.json.postman_collection
noctest.json.postman_collection
nodeserver.js
o.json
oauth.json.postman_collection
oauth.postman_collection
orderTest.json.postman_collection
outfile.json
postCollection.json.postman_collection
rep.html
split.postman_collection
src/templates/temp
statusChecj.json.postman_collection
td.csv
tem/
testC1.json
testpost.js
tests/data/data1.json
tests/integ_tests/dCSV.csv

npm-debug.log*
