<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link href="<%= materializeCss %>" rel="stylesheet" media="screen, projection">
    <title>Report</title>
    <style>
        <%= prismCss %>
    </style>
    <style>
        <%= customCss %>
    </style>
</head>
<body>
<header>
    <!-- TOP PANEL -->
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper"><a class="page-title">Main page</a></div>
        </div>
    </nav>
    <!-- SIDEBAR -->
    <ul class="side-nav fixed">
        <li class="bold"><a href="#main" class="tab-navigation current"><%= data.collection.name %></a></li>
        <!-- No-folder requests -->
        <%
        _.forEach(data.collection.order, function (id) {
        var index = _.findIndex(data.collection.requests, 'id', id);
        %>
        <li>
            <a href="#<%= id %>" class="tab-navigation">
                <%= data.collection.requests[index].name %>
                <%
                var testIndex = _.findIndex(data.results, 'id', id);
                var result = data.results[testIndex];
                var pass = result.totalPassFailCounts.pass;
                var fail = result.totalPassFailCounts.fail;
                %>
                <span class="right <%= fail === 0 ? 'green-text' : 'red-text' %>">
                    <% print(pass + "/" + (pass + fail)) %>
                </span>
            </a>
        </li>
        <% }); %>
        <!-- Folders -->
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
                <% _.forEach(data.collection.folders, function(folder) { %>
                <li class="bold"><a class="collapsible-header active"><%- folder.name %><i class="mdi-navigation-expand-more"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <!-- Requests/collections -->
                            <% _.forEach(folder.order, function(id) {
                            var index = _.findIndex(data.collection.requests, 'id', id);
                            %>
                            <li>
                                <a href="#<%= id %>" class="tab-navigation">
                                    <%= data.collection.requests[index].name %>
                                    <%
                                    var testIndex = _.findIndex(data.results, 'id', id);
                                    var result = data.results[testIndex];
                                    var pass = result.totalPassFailCounts.pass;
                                    var fail = result.totalPassFailCounts.fail;
                                    %>
                                    <span class="right <%= fail === 0 ? 'green-text' : 'red-text' %>">
                                        <% print(pass + "/" + (pass + fail)) %>
                                    </span>
                                </a>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                </li>
                <% }); %>
            </ul>
        </li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="row">
            <!-- MAIN page -->
            <div id="main" class="col s12 data-tab data-tab-active" data-name="Main page">
                <!-- TOTALS section -->
                <div class="section">
                    <p>Total tests passed: <span class="green-text">
                            <%= _.reduce(data.results, function (sum, test) { return sum + Number(test.totalPassFailCounts.pass); }, 0) %>
                        </span></p>
                    <p>Total tests failed: <span class="red-text">
                            <%= _.reduce(data.results, function (sum, test) { return sum + Number(test.totalPassFailCounts.fail); }, 0) %>
                        </span></p>
                </div>
                <div class="divider"></div>

                <!-- No-folders REQUEST section -->
                <%
                _.forEach(data.collection.order, function (id) {
                var index = _.findIndex(data.collection.requests, 'id', id)
                %>
                <div class="section">
                    <div class="col s12">
                        <a href="#<%= id %>" class="tab-navigation">
                            <%= data.collection.requests[index].name %>
                        </a>
                    </div>
                    <%
                    var testIndex = _.findIndex(data.results, 'id', id)
                    _.forEach(data.results[testIndex].tests, function (result, name) {
                    %>
                    <div class="col s9 offset-s1"><%- name %></div>
                    <div class="col s2 <%= result ? 'green-text' : 'red-text' %>"><%= result ? "Pass" : "Fail" %></div>
                    <% }); %>
                </div>
                <% }); %>


                <!-- FOLDER REQUESTS section -->
                <% _.forEach(data.collection.folders, function(folder) { %>
                <div class="section">

                    <div class="col s12">
                        <h5 class="header"><%- folder.name %></h5>
                    </div>

                    <% _.forEach(folder.order, function(id) {
                    var index = _.findIndex(data.collection.requests, 'id', id)
                    %>
                    <div class="col s11 offset-s1 small-header">
                        <a href="#<%= id %>" class="tab-navigation"><%- data.collection.requests[index].name %></a>
                    </div>
                    <%
                    var testIndex = _.findIndex(data.results, 'id', id)
                    _.forEach(data.results[testIndex].tests, function (result, name) {
                    %>
                    <div class="col s8 offset-s2"><%- name %></div>
                    <div class="col s2 <%= result ? 'green-text' : 'red-text' %>"><%= result ? "Pass" : "Fail" %></div>
                    <% }); %>
                    <% }); %>
                </div>
                <% }); %>
            </div>

            <!-- Individual REQUEST pages -->
            <% _.forEach(data.collection.requests, function (coll) {
            var testIndex = _.findIndex(data.results, 'id', coll.id)
            var result = data.results[testIndex]
            %>
            <div id="<%= coll.id %>" class="col s12 data-tab" data-name="<%= coll.name %>">
                <% if (coll.description) { %>
                <div class="section" id="description">
                    <h5 class="header">Description:</h5>
                    <blockquote class="description"><%= coll.description %></blockquote>
                </div>
                <% } %>
                <div class="divider"></div>
                <div class="section" id="request">
                    <h5 class="header">Request:</h5>
                    <blockquote class="teal-border">
                        <h5 class="green-text"><%= coll.method %></h5>
                        <h5><small>
                            <%= result.transformed.url %>
                        </small></h5>
                    </blockquote>
                    <h6 class="small-header">Headers:</h6>
                    <blockquote class="teal-border">
                        <% if (result.transformed.headers) { %>
                        <%
                        var headers = _.trim(result.transformed.headers).split("\n");
                        var splitHeaders = _.map(headers, function (h) {
                            return {
                                key: _.trim(h.split(":")[0]),
                                value: _.trim(h.split(":")[1])
                            }
                        });
                        %>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Header</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% _.forEach(splitHeaders, function (h) { %>
                            <tr>
                                <td><%= h.key %></td>
                                <td><%= h.value %></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                        —
                        <% } %>
                    </blockquote>
                    <h6 class="small-header">Request body:</h6>
                    <blockquote class="teal-border">
                        <pre><code class="language-javascript"><%
                            var datum = {};
                            _.forEach(result.transformed.data, function (obj) {
                            datum[obj.key] =  _.template(obj.value, {interpolate: /{{([\s\S]+?)}}/g})(data.$environment)
                            });
                            print(JSON.stringify(datum, undefined, 4));
                            %></code></pre>
                    </blockquote>
                </div>
                <div class="divider"></div>
                <div class="section" id="response">
                    <h5 class="header">Response:</h5>
                    <blockquote class="pink-border">
                        <% var responseCode = result.responseCode %>
                        <h5>
                            <%= responseCode.code %>
                            <small>
                                <%= responseCode.name %>
                            </small>
                        </h5>
                    </blockquote>
                    <h6 class="small-header">Headers:</h6>
                    <blockquote class="pink-border">
                        <% if (result.response.headers) { %>
                        <%
                        var headers = result.response.headers;
                        %>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Header</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% _.forEach(headers, function (value, header) { %>
                            <tr>
                                <td><%= header %></td>
                                <td><%= value %></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                        —
                        <% } %>
                    </blockquote>
                    <h6 class="small-header">Response body:</h6>
                    <blockquote class="pink-border">
                        <% if (result.response.body) { %>
                        <pre><code class="language-javascript"><%= JSON.stringify(JSON.parse(result.response.body), undefined, 4) %></code></pre>
                        <% } else { %>
                        —
                        <% } %>
                    </blockquote>
                </div>
                <div class="divider"></div>
                <div class="section" id="tests">
                    <h5 class="header">Tests:</h5>
                    <blockquote class="amber-border">
                        <% if (coll.tests) { %>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Test name</th>
                                <th>Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% _.forEach(result.tests, function (res, name) { %>
                            <tr>
                                <td><%= name %></td>
                                <td class="<%= res ? 'green-text' : 'red-text' %>"><%= res ? "Pass" : "Fail" %></td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                        <% } else { %>
                        —
                        <% } %>
                    </blockquote>
                    <h6 class="small-header">Code:</h6>
                    <blockquote class="amber-border">
                        <% if (coll.tests) { %>
                        <pre><code class="language-javascript"><%= coll.tests %></code></pre>
                        <% } else { %>
                        —
                        <% } %>
                    </blockquote>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</main>
<script src="<%= jquery %>"></script>
<script src="<%= materializeJs %>"></script>
<script>
    <%= prismJs %>
</script>
<script>
    <%= markdownJs %>
</script>
<script>
    <%= customJs %>
</script>
</body>
</html>